# first we instal the necessary packages

In [17]:
!pip install tensorflow

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: tensorflow in c:\users\pc\appdata\roaming\python\python39\site-packages (2.14.0)
Requirement already satisfied: tensorflow-intel==2.14.0 in c:\users\pc\appdata\roaming\python\python39\site-packages (from tensorflow) (2.14.0)
Requirement already satisfied: setuptools in c:\programdata\anaconda3\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (63.4.1)
Requirement already satisfied: tensorflow-estimator<2.15,>=2.14.0 in c:\users\pc\appdata\roaming\python\python39\site-packages (from tensorflow-intel==2.14.0->tensorflow) (2.14.0)
Requirement already satisfied: protobuf!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0dev,>=3.20.3 in c:\users\pc\appdata\roaming\python\python39\site-packages (from tensorflow-intel==2.14.0->tensorflow) (4.21.12)
Requirement already satisfied: libclang>=13.0.0 in c:\users\pc\appdata\roaming\python\python39\site-packages (from tensorflow-intel==2.14.0->tensorflow) (16.0.6)
Requirement already satisfied: numpy>=1.23.5 in c:\users\pc\appdata\roaming\python\python39\site-packages (from tensorflow-intel==2.14.0->tensorflow) (1.26.0)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in c:\users\pc\appdata\roaming\python\python39\site-packages (from tensorflow-intel==2.14.0->tensorflow) (1.59.0)
Requirement already satisfied: flatbuffers>=23.5.26 in c:\users\pc\appdata\roaming\python\python39\site-packages (from tensorflow-intel==2.14.0->tensorflow) (23.5.26)
Requirement already satisfied: absl-py>=1.0.0 in c:\users\pc\appdata\roaming\python\python39\site-packages (from tensorflow-intel==2.14.0->tensorflow) (2.0.0)
Requirement already satisfied: typing-extensions>=3.6.6 in c:\programdata\anaconda3\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (4.3.0)
Requirement already satisfied: tensorboard<2.15,>=2.14 in c:\users\pc\appdata\roaming\python\python39\site-packages (from tensorflow-intel==2.14.0->tensorflow) (2.14.1)
Requirement already satisfied: keras<2.15,>=2.14.0 in c:\users\pc\appdata\roaming\python\python39\site-packages (from tensorflow-intel==2.14.0->tensorflow) (2.14.0)
Requirement already satisfied: termcolor>=1.1.0 in c:\users\pc\appdata\roaming\python\python39\site-packages (from tensorflow-intel==2.14.0->tensorflow) (2.3.0)
Requirement already satisfied: google-pasta>=0.1.1 in c:\users\pc\appdata\roaming\python\python39\site-packages (from tensorflow-intel==2.14.0->tensorflow) (0.2.0)
Requirement already satisfied: ml-dtypes==0.2.0 in c:\users\pc\appdata\roaming\python\python39\site-packages (from tensorflow-intel==2.14.0->tensorflow) (0.2.0)
Requirement already satisfied: wrapt<1.15,>=1.11.0 in c:\programdata\anaconda3\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (1.14.1)
Requirement already satisfied: h5py>=2.9.0 in c:\programdata\anaconda3\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (3.7.0)
Requirement already satisfied: opt-einsum>=2.3.2 in c:\users\pc\appdata\roaming\python\python39\site-packages (from tensorflow-intel==2.14.0->tensorflow) (3.3.0)
Requirement already satisfied: gast!=0.5.0,!=0.5.1,!=0.5.2,>=0.2.1 in c:\users\pc\appdata\roaming\python\python39\site-packages (from tensorflow-intel==2.14.0->tensorflow) (0.5.4)
Requirement already satisfied: six>=1.12.0 in c:\programdata\anaconda3\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (1.16.0)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in c:\users\pc\appdata\roaming\python\python39\site-packages (from tensorflow-intel==2.14.0->tensorflow) (0.31.0)
Requirement already satisfied: packaging in c:\programdata\anaconda3\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (21.3)
Requirement already satisfied: astunparse>=1.6.0 in c:\users\pc\appdata\roaming\python\python39\site-packages (from tensorflow-intel==2.14.0->tensorflow) (1.6.3)
Requirement already satisfied: wheel<1.0,>=0.23.0 in c:\programdata\anaconda3\lib\site-packages (from astunparse>=1.6.0->tensorflow-intel==2.14.0->tensorflow) (0.37.1)
Requirement already satisfied: werkzeug>=1.0.1 in c:\programdata\anaconda3\lib\site-packages (from tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (2.0.3)
Requirement already satisfied: tensorboard-data-server<0.8.0,>=0.7.0 in c:\users\pc\appdata\roaming\python\python39\site-packages (from tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (0.7.1)
Requirement already satisfied: markdown>=2.6.8 in c:\programdata\anaconda3\lib\site-packages (from tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (3.3.4)
Requirement already satisfied: google-auth-oauthlib<1.1,>=0.5 in c:\users\pc\appdata\roaming\python\python39\site-packages (from tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (1.0.0)
Requirement already satisfied: requests<3,>=2.21.0 in c:\programdata\anaconda3\lib\site-packages (from tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (2.28.1)
Requirement already satisfied: google-auth<3,>=1.6.3 in c:\users\pc\appdata\roaming\python\python39\site-packages (from tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (2.23.2)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\programdata\anaconda3\lib\site-packages (from packaging->tensorflow-intel==2.14.0->tensorflow) (3.0.9)
Requirement already satisfied: pyasn1-modules>=0.2.1 in c:\programdata\anaconda3\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (0.2.8)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in c:\users\pc\appdata\roaming\python\python39\site-packages (from google-auth<3,>=1.6.3->tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (5.3.1)
Requirement already satisfied: rsa<5,>=3.1.4 in c:\users\pc\appdata\roaming\python\python39\site-packages (from google-auth<3,>=1.6.3->tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (4.9)
Requirement already satisfied: requests-oauthlib>=0.7.0 in c:\users\pc\appdata\roaming\python\python39\site-packages (from google-auth-oauthlib<1.1,>=0.5->tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (1.3.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (2022.9.14)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (1.26.11)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\programdata\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (3.3)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in c:\programdata\anaconda3\lib\site-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (0.4.8)
Requirement already satisfied: oauthlib>=3.0.0 in c:\users\pc\appdata\roaming\python\python39\site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<1.1,>=0.5->tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (3.2.2)

WARNING: There was an error checking the latest version of pip.

In [18]:
!pip install tensorflow_addons

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: tensorflow_addons in c:\users\pc\appdata\roaming\python\python39\site-packages (0.21.0)
Requirement already satisfied: typeguard<3.0.0,>=2.7 in c:\users\pc\appdata\roaming\python\python39\site-packages (from tensorflow_addons) (2.13.3)
Requirement already satisfied: packaging in c:\programdata\anaconda3\lib\site-packages (from tensorflow_addons) (21.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\programdata\anaconda3\lib\site-packages (from packaging->tensorflow_addons) (3.0.9)

WARNING: There was an error checking the latest version of pip.

In [19]:
!pip install keras

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: keras in c:\users\pc\appdata\roaming\python\python39\site-packages (2.14.0)

WARNING: There was an error checking the latest version of pip.

In [20]:
# Importing all the necessary modules to process our excel file
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
from pandas import ExcelFile

In [21]:
from keras.models import Sequential
from keras.layers import Dense
from sklearn.metrics import ConfusionMatrixDisplay
from sklearn.metrics import confusion_matrix

In [22]:
import warnings
warnings.filterwarnings("ignore")

In [23]:
%pwd

'c:\\Users\\pc\\Desktop\\CHM\\data science\\data science group project'

In [24]:
#lets import the excel file

In [25]:
# First task is to import the raw Excel file for processing purpose
filename = r'c:\\Users\\pc\\Desktop\\CHM\\data science\\data science group project\\Student_copy_Medical_Data_v4.xlsx'

initial_df = pd.read_excel(filename, sheet_name='Sheet1')

initial_df

,S/N,AGE (YRS),GES. AT BOOKING (WEEK),GES. AT DELIVERY (WEEK),BOOKING WEIGHT (KG),NO OF ANC ATTENDED,IPTS RECEIVED,PVC,PARITY,TYPE OF HEMATINIC RECEIVED,...,TYPE OF LABOUR,MODE OF DELIVERY,FETAL WEIGHT (KG),FETAL SEX,APGAR SCORES AT 1 MINUTE,APGAR SCORES AT 5 MINUTES,LENGTH OF HOSPITAL,FETAL OUTCOME,MATERNAL OUTCOME,NEED FOR SPECIAL BABY CARE
0,1,32,7,38,57.0,6,1,32,9,1,...,4,1,2.5,2,9,5,4,Alive,Alive,No
1,2,26,10,38,51.0,6,2,32,35,1,...,4,4,3.0,0,10,2,4,Alive,Alive,No
2,3,24,11,38,51.0,6,2,32,35,1,...,4,4,3.0,2,9,5,4,Alive,Alive,No
3,4,29,10,38,51.0,6,2,32,35,1,...,4,4,3.0,2,9,5,4,Alive,Alive,No
4,5,23,11,38,61.0,9,3,0,20,1,...,4,4,2.9,2,6,20,4,Alive,Alive,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
367,368,26,22,34,65.0,5,1,0,17,1,...,4,5,2.2,0,3,20,5,Alive,Alive,No
368,369,26,15,38,65.0,8,3,35,17,1,...,3,6,2.5,2,3,20,7,Alive,Alive,Yes
369,370,32,24,36,64.0,6,2,36,17,1,...,0,5,3.0,0,3,20,6,Alive,Alive,Yes
370,371,25,20,36,54.0,6,1,0,35,1,...,4,5,2.5,2,3,5,8,Alive,Alive,Yes
371,372,24,20,36,54.0,6,2,32,35,1,...,4,5,2.7,0,3,20,8,Alive,Alive,Yes

'''cleaning the data and checking for nan values'''

In [26]:
# Identifiying columns with Nan Values
for cols in initial_df.columns:
    print(f'\t{cols:<17}: {initial_df[cols].isna().sum()} NaN Values')

	S/N              : 0 NaN Values
	AGE (YRS)        : 0 NaN Values
	GES. AT BOOKING (WEEK): 0 NaN Values
	GES. AT DELIVERY (WEEK): 0 NaN Values
	BOOKING WEIGHT (KG): 0 NaN Values
	NO OF ANC ATTENDED: 0 NaN Values
	IPTS RECEIVED    : 0 NaN Values
	PVC              : 0 NaN Values
	PARITY           : 0 NaN Values
	TYPE OF HEMATINIC RECEIVED: 0 NaN Values
	MARITAL STATUS   : 0 NaN Values
	TYPE OF LABOUR   : 0 NaN Values
	MODE OF DELIVERY : 0 NaN Values
	FETAL WEIGHT (KG): 0 NaN Values
	FETAL SEX        : 0 NaN Values
	APGAR SCORES AT 1 MINUTE: 0 NaN Values
	APGAR SCORES AT 5 MINUTES: 0 NaN Values
	LENGTH OF HOSPITAL: 0 NaN Values
	FETAL OUTCOME    : 0 NaN Values
	MATERNAL OUTCOME : 0 NaN Values
	NEED FOR  SPECIAL BABY CARE: 0 NaN Values

In [27]:
initial_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 372 entries, 0 to 371
Data columns (total 21 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   S/N                          372 non-null    int64
 1   AGE (YRS)                    372 non-null    int64
 2   GES. AT BOOKING (WEEK)       372 non-null    int64
 3   GES. AT DELIVERY (WEEK)      372 non-null    int64
 4   BOOKING WEIGHT (KG)          372 non-null    float64
 5   NO OF ANC ATTENDED           372 non-null    int64
 6   IPTS RECEIVED                372 non-null    int64
 7   PVC                          372 non-null    int64
 8   PARITY                       372 non-null    int64
 9   TYPE OF HEMATINIC RECEIVED   372 non-null    int64
 10  MARITAL STATUS               372 non-null    int64
 11  TYPE OF LABOUR               372 non-null    int64
 12  MODE OF DELIVERY             372 non-null    int64
 13  FETAL WEIGHT (KG)            372 non-null    float64
 14  FETAL SEX                    372 non-null    int64
 15  APGAR SCORES AT 1 MINUTE     372 non-null    int64
 16  APGAR SCORES AT 5 MINUTES    372 non-null    int64
 17  LENGTH OF HOSPITAL           372 non-null    int64
 18  FETAL OUTCOME                372 non-null    object
 19  MATERNAL OUTCOME             372 non-null    object
 20  NEED FOR  SPECIAL BABY CARE  372 non-null    object
dtypes: float64(2), int64(16), object(3)
memory usage: 61.2+ KB

'''now we need to convert our 'strings/object' that is in our data into numbers for our model to read it'''

In [28]:
# Converting Categorical Data into Numerical data
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
for column in initial_df.columns:
    if initial_df[column].dtype == 'object':
        initial_df[column] = le.fit_transform(initial_df[column].astype(str))

In [29]:
initial_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 372 entries, 0 to 371
Data columns (total 21 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   S/N                          372 non-null    int64
 1   AGE (YRS)                    372 non-null    int64
 2   GES. AT BOOKING (WEEK)       372 non-null    int64
 3   GES. AT DELIVERY (WEEK)      372 non-null    int64
 4   BOOKING WEIGHT (KG)          372 non-null    float64
 5   NO OF ANC ATTENDED           372 non-null    int64
 6   IPTS RECEIVED                372 non-null    int64
 7   PVC                          372 non-null    int64
 8   PARITY                       372 non-null    int64
 9   TYPE OF HEMATINIC RECEIVED   372 non-null    int64
 10  MARITAL STATUS               372 non-null    int64
 11  TYPE OF LABOUR               372 non-null    int64
 12  MODE OF DELIVERY             372 non-null    int64
 13  FETAL WEIGHT (KG)            372 non-null    float64
 14  FETAL SEX                    372 non-null    int64
 15  APGAR SCORES AT 1 MINUTE     372 non-null    int64
 16  APGAR SCORES AT 5 MINUTES    372 non-null    int64
 17  LENGTH OF HOSPITAL           372 non-null    int64
 18  FETAL OUTCOME                372 non-null    int32
 19  MATERNAL OUTCOME             372 non-null    int32
 20  NEED FOR  SPECIAL BABY CARE  372 non-null    int32
dtypes: float64(2), int32(3), int64(16)
memory usage: 56.8 KB

'''reducing the size of our data to int16 and float16'''

In [30]:
int64_List =initial_df.select_dtypes(include = "int64").columns
print (int64_List)

Index(['S/N', 'AGE (YRS)', 'GES. AT BOOKING (WEEK)', 'GES. AT DELIVERY (WEEK)',
       'NO OF ANC ATTENDED', 'IPTS RECEIVED', 'PVC', 'PARITY',
       'TYPE OF HEMATINIC RECEIVED', 'MARITAL STATUS', 'TYPE OF LABOUR',
       'MODE OF DELIVERY', 'FETAL SEX', 'APGAR SCORES AT 1 MINUTE',
       'APGAR SCORES AT 5 MINUTES', 'LENGTH OF HOSPITAL'],
      dtype='object')

In [31]:
# Converting the data to minimize size
for column in int64_List:
    initial_df[column] = initial_df[column].astype ("int16")

initial_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 372 entries, 0 to 371
Data columns (total 21 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   S/N                          372 non-null    int16
 1   AGE (YRS)                    372 non-null    int16
 2   GES. AT BOOKING (WEEK)       372 non-null    int16
 3   GES. AT DELIVERY (WEEK)      372 non-null    int16
 4   BOOKING WEIGHT (KG)          372 non-null    float64
 5   NO OF ANC ATTENDED           372 non-null    int16
 6   IPTS RECEIVED                372 non-null    int16
 7   PVC                          372 non-null    int16
 8   PARITY                       372 non-null    int16
 9   TYPE OF HEMATINIC RECEIVED   372 non-null    int16
 10  MARITAL STATUS               372 non-null    int16
 11  TYPE OF LABOUR               372 non-null    int16
 12  MODE OF DELIVERY             372 non-null    int16
 13  FETAL WEIGHT (KG)            372 non-null    float64
 14  FETAL SEX                    372 non-null    int16
 15  APGAR SCORES AT 1 MINUTE     372 non-null    int16
 16  APGAR SCORES AT 5 MINUTES    372 non-null    int16
 17  LENGTH OF HOSPITAL           372 non-null    int16
 18  FETAL OUTCOME                372 non-null    int32
 19  MATERNAL OUTCOME             372 non-null    int32
 20  NEED FOR  SPECIAL BABY CARE  372 non-null    int32
dtypes: float64(2), int16(16), int32(3)
memory usage: 21.9 KB

In [32]:
int32_List =initial_df.select_dtypes(include = "int32").columns
print (int32_List)

Index(['FETAL OUTCOME', 'MATERNAL OUTCOME', 'NEED FOR  SPECIAL BABY CARE'], dtype='object')

In [33]:
for column in int32_List:
    initial_df[column] = initial_df[column].astype ("int16")

initial_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 372 entries, 0 to 371
Data columns (total 21 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   S/N                          372 non-null    int16
 1   AGE (YRS)                    372 non-null    int16
 2   GES. AT BOOKING (WEEK)       372 non-null    int16
 3   GES. AT DELIVERY (WEEK)      372 non-null    int16
 4   BOOKING WEIGHT (KG)          372 non-null    float64
 5   NO OF ANC ATTENDED           372 non-null    int16
 6   IPTS RECEIVED                372 non-null    int16
 7   PVC                          372 non-null    int16
 8   PARITY                       372 non-null    int16
 9   TYPE OF HEMATINIC RECEIVED   372 non-null    int16
 10  MARITAL STATUS               372 non-null    int16
 11  TYPE OF LABOUR               372 non-null    int16
 12  MODE OF DELIVERY             372 non-null    int16
 13  FETAL WEIGHT (KG)            372 non-null    float64
 14  FETAL SEX                    372 non-null    int16
 15  APGAR SCORES AT 1 MINUTE     372 non-null    int16
 16  APGAR SCORES AT 5 MINUTES    372 non-null    int16
 17  LENGTH OF HOSPITAL           372 non-null    int16
 18  FETAL OUTCOME                372 non-null    int16
 19  MATERNAL OUTCOME             372 non-null    int16
 20  NEED FOR  SPECIAL BABY CARE  372 non-null    int16
dtypes: float64(2), int16(19)
memory usage: 19.7 KB

In [34]:
# float64 is too big, reduce it to float16, 

float64_List =initial_df.select_dtypes(include = "float64").columns
print (float64_List)

Index(['BOOKING WEIGHT (KG)', 'FETAL WEIGHT (KG)'], dtype='object')

In [35]:
for column in float64_List:
    initial_df[column] = initial_df[column].astype ("float16")

initial_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 372 entries, 0 to 371
Data columns (total 21 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   S/N                          372 non-null    int16
 1   AGE (YRS)                    372 non-null    int16
 2   GES. AT BOOKING (WEEK)       372 non-null    int16
 3   GES. AT DELIVERY (WEEK)      372 non-null    int16
 4   BOOKING WEIGHT (KG)          372 non-null    float16
 5   NO OF ANC ATTENDED           372 non-null    int16
 6   IPTS RECEIVED                372 non-null    int16
 7   PVC                          372 non-null    int16
 8   PARITY                       372 non-null    int16
 9   TYPE OF HEMATINIC RECEIVED   372 non-null    int16
 10  MARITAL STATUS               372 non-null    int16
 11  TYPE OF LABOUR               372 non-null    int16
 12  MODE OF DELIVERY             372 non-null    int16
 13  FETAL WEIGHT (KG)            372 non-null    float16
 14  FETAL SEX                    372 non-null    int16
 15  APGAR SCORES AT 1 MINUTE     372 non-null    int16
 16  APGAR SCORES AT 5 MINUTES    372 non-null    int16
 17  LENGTH OF HOSPITAL           372 non-null    int16
 18  FETAL OUTCOME                372 non-null    int16
 19  MATERNAL OUTCOME             372 non-null    int16
 20  NEED FOR  SPECIAL BABY CARE  372 non-null    int16
dtypes: float16(2), int16(19)
memory usage: 15.4 KB

'''creating a features Variables columns for our model to consider those columns inorder 
    to give us an output'''    # note we want 'NEED FOR  SPECIAL BABY CARE' to be our output

In [36]:
# plotting feature importances
features = initial_df.columns.tolist()
features = features[1:-1]
features

['AGE (YRS)',
 'GES. AT BOOKING (WEEK)',
 'GES. AT DELIVERY (WEEK)',
 'BOOKING WEIGHT (KG)',
 'NO OF ANC ATTENDED',
 'IPTS RECEIVED',
 'PVC',
 'PARITY',
 'TYPE OF HEMATINIC RECEIVED',
 'MARITAL STATUS',
 'TYPE OF LABOUR',
 'MODE OF DELIVERY',
 'FETAL WEIGHT (KG)',
 'FETAL SEX',
 'APGAR SCORES AT 1 MINUTE',
 'APGAR SCORES AT 5 MINUTES',
 'LENGTH OF HOSPITAL',
 'FETAL OUTCOME',
 'MATERNAL OUTCOME']

In [37]:
#creating our X and y variables
X = initial_df[features] 
y = initial_df['NEED FOR  SPECIAL BABY CARE']

In [38]:
# Split the data into training and test sets(70% and 30%)respectively    STEP 1
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [39]:
# Investigating some few data    the number of columns

input_features = X_train.shape[1]
input_features

19

In [40]:
 y_train

196    2
19     1
356    1
79     1
167    1
      ..
71     1
106    1
270    1
348    1
102    1
Name: NEED FOR  SPECIAL BABY CARE, Length: 260, dtype: int16

In [41]:
# Checking the unique values using set
set(y_train)

{0, 1, 2}

In [42]:
# Checking the number unique values using set
output_options = len(set(y_train))
output_options

3

In [43]:
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Activation

In [ ]:
# Creating, compiling, and fitting our neural network model      
# output_options = 10

ai_model = tf.keras.Sequential()
ai_model.add(tf.keras.layers.Dense(input_features)) # 784 input features
ai_model.add(tf.keras.layers.Dense(output_options, activation='sigmoid')) #Output options and activation
#It can be relu, softmax, softsign, tanh, selu, elu, exponential, PRelu, LeakyReLu

# Compiling the neural network model
ai_model.compile(
    optimizer='adam', # Others are: 'SGD','RMSprop','Adam','Adadelta','Adagrad','Adamax','Nadam','Ftrl', 'AdamW', 'Adafactor'
    loss='sparse_categorical_crossentropy', # Others are: categorical_crossentropy, poisson, kl_divergence, binary_crossentropy
    metrics=['accuracy'] # Others are: binary_accuracy, categorical_accuracy, sparse_categorical_accuracy 
)

# Fitting the model with train data
training_times = 10
ai_model.fit(X_train,y_train, epochs=training_times)

:

In [ ]:
# Evaluating with Test Data
ai_model.evaluate(X_test, y_test)

In [ ]:
#APPLING SCALLING TO IMPROVE OUR ACCURACY

In [ ]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
scal_Xtrain = scaler.fit_transform(X_train)
scal_Xtest = scaler.transform(X_test)

In [ ]:
# Creating, compiling, and fitting our neural network model
# output_options = 10

ai_model = tf.keras.Sequential()
ai_model.add(tf.keras.layers.Dense(input_features)) # 784 input features
ai_model.add(tf.keras.layers.Dense(output_options, activation='sigmoid')) #Output options and activation
#It can be relu, softmax, softsign, tanh, selu, elu, exponential, PRelu, LeakyReLu

# Compiling the neural network model
ai_model.compile(
    optimizer='adamax', # Others are: 'SGD','RMSprop','Adam','Adadelta','Adagrad','Adamax','Nadam','Ftrl', 'AdamW', 'Adafactor'
    loss='sparse_categorical_crossentropy', # Others are: categorical_crossentropy, poisson, kl_divergence, binary_crossentropy
    metrics=['accuracy'] # Others are: binary_accuracy, categorical_accuracy, sparse_categorical_accuracy 
)

# Fitting the model with train data
training_times = 10
ai_model.fit(scal_Xtrain,y_train, epochs=training_times)

In [ ]:
# Evaluating with Test Data
ai_model.evaluate(scal_Xtest, y_test)

In [ ]:
# Using my Best optimizer (Adam)
# Creating, compiling, and fitting our neural network model
# output_options = 10

ai_model = tf.keras.Sequential()
ai_model.add(tf.keras.layers.Dense(input_features)) # 784 input features
ai_model.add(tf.keras.layers.Dense(output_options, activation='sigmoid')) #Output options and activation
#It can be relu, softmax, softsign, tanh, selu, elu, exponential, PRelu, LeakyReLu

# Compiling the neural network model
ai_model.compile(
    optimizer='adam', # Others are: 'SGD','RMSprop','Adam','Adadelta','Adagrad','Adamax','Nadam','Ftrl', 'AdamW', 'Adafactor'
    loss='sparse_categorical_crossentropy', # Others are: categorical_crossentropy, poisson, kl_divergence, binary_crossentropy
    metrics=['accuracy'] # Others are: binary_accuracy, categorical_accuracy, sparse_categorical_accuracy 
)

# Fitting the model with train data
training_times = 10
ai_model.fit(scal_Xtrain,y_train, epochs=training_times)

In [ ]:
# Evaluating with Test Data
ai_model.evaluate(scal_Xtest, y_test)

In [ ]:
# Extracting the predicted test values
y_predicted = ai_model.predict(scal_Xtest)
y_predicted

In [ ]:
np.argmax(y_predicted)

In [ ]:
# Extracting the actual predictions rather than probability
y_predicted_labels = [np.argmax(i) for i in y_predicted]

In [ ]:
# Creating a Confusion Matrix
confusion_matrix_v1 = tf.math.confusion_matrix(labels=y_test, predictions=y_predicted_labels)
confusion_matrix_v1

In [ ]:
# Using seaborn libary
import seaborn as sn
plt.figure(figsize=(7,5))
sn.heatmap(confusion_matrix_v1, annot=True, fmt='d')
plt.xlabel('Predicted values')
plt.ylabel('Actual values')

In [ ]:
# Using an intermediate Layer to improve accuracy

In [ ]:
# Using my Best optimizer (Adam)
# Creating, compiling, and fitting our neural network model
# output_options = 10
# Intermediate neurons = 394

ai_model = tf.keras.Sequential()
ai_model.add(tf.keras.layers.Dense(input_features)) # 784 input features
ai_model.add(tf.keras.layers.Dense(392, activation='leaky_relu')) # Intermediate layer
ai_model.add(tf.keras.layers.Dense(output_options, activation='sigmoid')) #Output activation
#It can be relu, softmax, softsign, tanh, selu, elu, exponential, PRelu, LeakyReLu

# Compiling the neural network model
ai_model.compile(
    optimizer='adam', # Others are: 'SGD','RMSprop','Adam','Adadelta','Adagrad','Adamax','Nadam','Ftrl', 'AdamW', 'Adafactor'
    loss='sparse_categorical_crossentropy', # Others are: categorical_crossentropy, poisson, kl_divergence, binary_crossentropy
    metrics=['accuracy'] # Others are: binary_accuracy, categorical_accuracy, sparse_categorical_accuracy 
)

# Fitting the model with train data
training_times = 10
ai_model.fit(scal_Xtrain,y_train, epochs=training_times)

In [ ]:
# Evaluating with Test Data
# batch_size is what ratio of the actual test data should be used
ai_model.evaluate(scal_Xtest, y_test, batch_size=10)

In [ ]:
# Extracting the predicted test values
y_predicted = ai_model.predict(scal_Xtest)
y_predicted

In [ ]:
np.argmax(y_predicted)

In [ ]:
# Checking the actual y_test value
y_test

In [ ]:
# Extracting the actual predictions rather than probability
y_predicted_labels = [np.argmax(i) for i in y_predicted]

In [ ]:
# Creating a Confusion Matrix
confusion_matrix_v2 = tf.math.confusion_matrix(labels=y_test, predictions=y_predicted_labels)
confusion_matrix_v2

In [ ]:
# Using seaborn libary for v2 matrix
import seaborn as sn
plt.figure(figsize=(7,5))
sn.heatmap(confusion_matrix_v2, annot=True, fmt='d')
plt.xlabel('Predicted values')
plt.ylabel('Actual values')

In [ ]:
#using feature engineering for better results

In [ ]:
features

In [ ]:
#selecting only the useful columns in our features

In [ ]:

selected_columns = ['AGE (YRS)','FETAL OUTCOME', 'LENGTH OF HOSPITAL','MATERNAL OUTCOME']  

selected_features = [feature for feature in features if feature in selected_columns]

In [ ]:
selected_features

In [ ]:
#creating our X and y variables
X_2 = initial_df[selected_features] 
y_2 = initial_df['NEED FOR  SPECIAL BABY CARE']

In [ ]:
# Split the data into training and test sets(70% and 30%)respectively    STEP 1
from sklearn.model_selection import train_test_split

X_2_train, X_2_test, y_2_train, y_2_test = train_test_split(X_2, y_2, test_size=0.3, random_state=42)

In [ ]:
# Investigating some few data

input_2_features = X_2_train.shape[1]
input_2_features

In [ ]:
y_2_train

In [ ]:
# Checking the number unique values using set
output_2_options = len(set(y_2_train))
output_2_options

In [ ]:
# Creating, compiling, and fitting our neural network model
# output_options = 10

ai_model = tf.keras.Sequential()
ai_model.add(tf.keras.layers.Dense(input_2_features)) # 784 input features
ai_model.add(tf.keras.layers.Dense(output_2_options, activation='sigmoid')) #Output options and activation
#It can be relu, softmax, softsign, tanh, selu, elu, exponential, PRelu, LeakyReLu

# Compiling the neural network model
ai_model.compile(
    optimizer='adam', # Others are: 'SGD','RMSprop','Adam','Adadelta','Adagrad','Adamax','Nadam','Ftrl', 'AdamW', 'Adafactor'
    loss='binary_crossentropy', # Others are: categorical_crossentropy, poisson, kl_divergence, binary_crossentropy
    metrics=['accuracy'] # Others are: binary_accuracy, categorical_accuracy, sparse_categorical_accuracy 
)

# Fitting the model with train data
training_times = 10
ai_model.fit(X_2_train,y_2_train, epochs=training_times)

In [ ]:
# Evaluating with Test Data
ai_model.evaluate(X_test, y_test)

In [ ]:
#appling scaling to our selected features

In [ ]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
scal_X_2_train = scaler.fit_transform(X_2_train)
scal_X_2_test = scaler.transform(X_2_test)

In [ ]:
# Creating, compiling, and fitting our neural network model
# output_options = 10

ai_model = tf.keras.Sequential()
ai_model.add(tf.keras.layers.Dense(input_2_features)) # 784 input features
ai_model.add(tf.keras.layers.Dense(output_2_options, activation='sigmoid')) #Output options and activation
#It can be relu, softmax, softsign, tanh, selu, elu, exponential, PRelu, LeakyReLu

# Compiling the neural network model
ai_model.compile(
    optimizer='adamax', # Others are: 'SGD','RMSprop','Adam','Adadelta','Adagrad','Adamax','Nadam','Ftrl', 'AdamW', 'Adafactor'
    loss='sparse_categorical_crossentropy', # Others are: categorical_crossentropy, poisson, kl_divergence, binary_crossentropy
    metrics=['accuracy'] # Others are: binary_accuracy, categorical_accuracy, sparse_categorical_accuracy 
)

# Fitting the model with train data
training_times = 10
ai_model.fit(scal_X_2_train,y_2_train, epochs=training_times)

In [ ]:
# Evaluating with Test Data
ai_model.evaluate(scal_X_2_test, y_2_test)

In [ ]:
# Extracting the predicted test values
y_2_predicted = ai_model.predict(scal_X_2_test)
y_2_predicted

In [ ]:
np.argmax(y_2_predicted)

In [ ]:
# Checking the actual y_test value
y_2_test

In [ ]:
# Extracting the actual predictions rather than probability
y_2_predicted_labels = [np.argmax(i) for i in y_2_predicted]

In [ ]:
# Creating a Confusion Matrix
confusion_matrix_v3 = tf.math.confusion_matrix(labels=y_2_test, predictions=y_2_predicted_labels)
confusion_matrix_v3

In [ ]:
# Using seaborn libary
import seaborn as sn
plt.figure(figsize=(7,5))
sn.heatmap(confusion_matrix_v3, annot=True, fmt='d')
plt.xlabel('Predicted values')
plt.ylabel('Actual values')

In [ ]:
# Using seaborn libary for v1 matrix
import seaborn as sn
plt.figure(figsize=(7,5))
sn.heatmap(confusion_matrix_v2, annot=True, fmt='d')
plt.xlabel('Predicted values')
plt.ylabel('Actual values')

In [ ]:
# Using seaborn libary for v1 matrix
import seaborn as sn
plt.figure(figsize=(7,5))
sn.heatmap(confusion_matrix_v1, annot=True, fmt='d')
plt.xlabel('Predicted values')
plt.ylabel('Actual values')